@model int 
<div class="text-center">
    <h1 class="text-info pt-4">Perfecto! Estas a un paso de una comida deliciosa</h1>
    <p class="pb-3">La orden se recibio y estara lista en 30 minutos</p>
    <h4 class="text-warning pb-3">Order ID - @Model</h4>
    <img src="/images/img1.jpg" width="80%" />
</div>
